# Python
__pycache__/
.venv/
dist/
.env
*.pyc

# Node
node_modules/
.next/
out/
.DS_Store

# Misc
.gemini/
*.log

# Terraform / IaC
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.zip
crash.log

